In [ ]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
data=pd.read_csv('spam_ham_dataset.csv')

In [ ]:
data

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
...,...,...,...,...
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [ ]:
data.head(10)

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
5,2949,ham,Subject: ehronline web address change\r\nthis ...,0
6,2793,ham,Subject: spring savings certificate - take 30 ...,0
7,4185,spam,Subject: looking for medication ? we ` re the ...,1
8,2641,ham,Subject: noms / actual flow for 2 / 26\r\nwe a...,0
9,1870,ham,"Subject: nominations for oct . 21 - 23 , 2000\...",0

In [ ]:
data.tail(10)

,Unnamed: 0,label,text,label_num
5161,4979,spam,Subject: penny stocks are about timing\r\nnoma...,1
5162,4162,spam,Subject: anomaly boys from 3881\r\nuosda apapr...,1
5163,1428,ham,Subject: re : meter # : 1266 ; august 2000 / a...,0
5164,4365,spam,Subject: slutty milf wants to meet you\r\ntake...,1
5165,2849,ham,"Subject: fw : crosstex energy , driscoll ranch...",0
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5171 entries, 0 to 5170
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5171 non-null   int64
 1   label       5171 non-null   object
 2   text        5171 non-null   object
 3   label_num   5171 non-null   int64
dtypes: int64(2), object(2)
memory usage: 161.7+ KB

In [ ]:
data.describe()

        Unnamed: 0    label_num
count  5171.000000  5171.000000
mean   2585.000000     0.289886
std    1492.883452     0.453753
min       0.000000     0.000000
25%    1292.500000     0.000000
50%    2585.000000     0.000000
75%    3877.500000     1.000000
max    5170.000000     1.000000

In [ ]:
data.columns

Index(['Unnamed: 0', 'label', 'text', 'label_num'], dtype='object')

#### To check null values

In [ ]:
data[data.isnull().any(axis=1)]

Empty DataFrame
Columns: [Unnamed: 0, label, text, label_num]
Index: []

####  Label Encoding for categorical data

In [ ]:
from sklearn.preprocessing import LabelEncoder
encode=LabelEncoder()

In [ ]:
data['label']=encode.fit_transform(data['label'])
data['text']=encode.fit_transform(data['text'])

In [ ]:
data

      Unnamed: 0  label  text  label_num
0            605      0  1209          0
1           2349      0  1985          0
2           3624      0  2774          0
3           4685      1  3158          1
4           2030      0  3613          0
...          ...    ...   ...        ...
5166        1518      0  3254          0
5167         404      0   125          0
5168        2933      0   495          0
5169        1409      0  2223          0
5170        4807      1  2195          1

[5171 rows x 4 columns]

#### Choosing X and y

In [ ]:
X=data.drop(['label_num'],axis=1)
y=data['label_num']

#### Splitting the dataset

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [ ]:
# Logistic regression fit 
logreg=LogisticRegression()

In [ ]:
logreg.fit(x_train,y_train)

LogisticRegression()

In [ ]:
logreg.score(x_test,y_test)

1.0

In [ ]:
#Predict
y_pred=logreg.predict(x_test)

#### Evaluation Metrics

In [ ]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,confusion_matrix

In [ ]:
print(confusion_matrix(y_test,y_pred))

[[1111    0]
 [   0  441]]

In [ ]:
print(recall_score(y_test,y_pred))

1.0

In [ ]:
print(precision_score(y_test,y_pred))

1.0

In [ ]:
print(accuracy_score(y_test,y_pred))

1.0